@import url('https://fonts.googleapis.com/css?family=Roboto');
#lateral-izq{
    display: inline-block;
    width: 40%;
    position: relative;
}
#lateral-der{
    width: 100%;
    display: inline-block;
}
#app{
    display: flex;
}



body {
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

i {
	margin-right: 10px;
}

/*----------bootstrap-navbar-css------------*/
.navbar {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.navbar-mainbg {
	background-color: rgba(204, 68, 75, 1);
	padding: 0px;
}

#navbarSupportedContent {
	overflow: hidden;
	position: relative;
}

#navbarSupportedContent ul {
	padding: 0px;
	margin: 0px;
}

#navbarSupportedContent ul li a i {
	margin-right: 10px;
}

#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

#navbarSupportedContent ul li a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	display: block;
	padding: 20px 20px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: relative;
}

#navbarSupportedContent>ul>li.active>a {
	color: rgba(204, 68, 75, 1);
	background-color: transparent;
	transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#navbarSupported#df7373Content .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

.hori-selector {
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}

.hori-selector .right {
	right: -25px;
}

.hori-selector .left {
	left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(204, 68, 75, 1);
}

.hori-selector .right:before {
	bottom: 0;
	right: -25px;
}

.hori-selector .left:before {
	bottom: 0;
	left: -25px;
}

@media (min-width: 992px) {
	.navbar-expand-custom {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.navbar-expand-custom .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.navbar-expand-custom .navbar-toggler {
		display: none;
	}

	.navbar-expand-custom .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
}

@media (max-width: 991px) {
	#navbarSupportedContent ul li a {
		padding: 12px 30px;
	}

	.hori-selector {
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	.hori-selector .left,
	.hori-selector .right {
		right: 10px;
	}

	.hori-selector .left {
		top: -25px;
		left: auto;
	}

	.hori-selector .right {
		bottom: -25px;
	}

	.hori-selector .left:before {
		left: -25px;
		top: -25px;
	}

	.hori-selector .right:before {
		bottom: -25px;
		left: -25px;
	}
}

/* animacion vue popups entrada y salida */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}


/* perfil */
#footer_profile{
    /* background-color: rgb(136, 104, 104); */
    /* background-color: rgb(199, 109, 109); */
    display: block;
}

#footer_profile>.image{
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    /* background-color: aqua; */
    border-radius: 50%;
    /* width: min-content; */
    /* overflow: hidden; */
}
#footer_profile img{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    vertical-align: middle;
    border: 1px solid black;
    box-shadow: 0px 0px 5px salmon;
    margin-bottom: 10px;
}


#footer_profile>.logout{
    background-color: lightcoral;
    display: block;
    width: 100%;
    text-align: center;
    font-size: x-large;
    margin: auto;
    margin-top: 150px;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
}
#footer_profile>.logout >a{
    color: black;
    text-decoration-line: none;
    display: block;
}
#footer_profile>.logout.arriba{
    bottom: 150px;
}

#footer_profile .name{
    /* background-color: beige; */
    margin: 0;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
#footer_profile .id{
    /* background-color: rgb(146, 146, 243); */
    color: grey;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;

}

/* subir imagenes */
#choose_images_profiles>button{
    position: absolute;
    top: 130px;
    margin-left: 50px;
    text-align: center;
    padding:0;
    border-radius: 50%;
}
#choose_images_profiles>button>i,#choose_image_event>button>i{
    margin: auto;
    padding: 5px;
}

#formulario_subir_foto{
    width: 30%;
}
#choose_imagen_nueva{
    width: 100%;
    height: 125px;
    background-color: white;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 15%;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}
#choose_imagen_nueva:hover{
    background-color: rgb(223, 223, 223);
}
#choose_imagen_nueva:active{
    background-color: rgb(179, 179, 179);
    box-shadow: inset 3px 3px 3px rgb(0, 0, 0);
}
#choose_imagen_nueva i{
    line-height: 125px;
    margin: auto;
    margin-bottom: -50px;
}
#choose_imagen_nueva p{
    font-size: medium;
}
#file_upload{
    display: none;
}
#listado_imagenes{
    overflow: scroll;
    height: 250px;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    background-color: lightcoral;
    border: 2px solid black;
}
#listado_imagenes > div{
    width: 30%;
    height: 125px;
    display: flex;
    border: 1px solid black;
    border-radius: 15%;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(219, 102, 102);
}
#listado_imagenes > div:hover{
    background-color: rgb(218, 94, 94);
}
#listado_imagenes > div:active{
    background-color: rgb(179, 60, 60);
}
#listado_imagenes > div >img{
    width: 100%;
    height: auto;
    justify-content: center;
}
#preview{
    margin: 10px;
    padding: 5px;
    border: 2px solid red;
    background-color: salmon;
    border-radius: 10px;
    width: min-content;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(156, 0, 0);
}
#preview img{
    height: 75px;
}


#choose_image_event >*{
    display: block;
}

.form_delete_image button{
    color: red;
    background-color: unset;
    border: 0;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -10px;
    text-shadow: 0px 0px 3px white;

}


/* crear evento */
#formulario_crear #tags{
    padding: 10px;
}
#formulario_crear .tag_div{
    display: inline-block;
    padding: 1px 5px;
    margin: 2px 5px;
    border: 1px solid black;
    border-radius: 25px;
}
#formulario_crear .activo{
    background-color: red;
    color: white;
}
#formulario_crear .boton_envio{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin-left: -15px;
}



/* mis eventos */
#selector_mis_eventos{
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
}
.boton_selector{
    font-weight: bold;
    border: 0;
    background-color: unset;
    outline: unset;
    border: 0;
}
.boton_selector.activo{
    border-bottom: 3px solid salmon;
}


.phpdebugbar-minimized{
    opacity: .3;
}